<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
       Lista de Clientes
       <p:dataTable value="#{clienteControl.listaC}" var="cl">
           <p:column headerText="ID">
               <h:outputText value="#{cl.id}"/>
           </p:column>           
           <p:column headerText="Nombre Completo">
               <h:outputText value="#{cl.nombre} #{cl.apellido}"/>
           </p:column>           
           <p:column headerText="Direccion">
               <h:outputText value="#{cl.direccion}"/>
           </p:column>           
           <p:column headerText="Telefono">
               <h:outputText value="#{cl.telefono}"/>
           </p:column>           
           <p:column headerText="Fecha de Nacimiento">
               <h:outputText value="#{cl.fechaNacimiento}"/>
           </p:column>           
           <p:column headerText="Email">
               <h:outputText value="#{cl.email}"/>
           </p:column>
           <p:column headerText="Opcion">
               
           </p:column>
       </p:dataTable>
    </h:body>
</html>

