<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        Lista de Productos

        <p:dataTable value="#{productoControl.listaP}" var="lp">
            <p:column headerText="ID">
                <h:outputText value="#{lp.id}"/>
            </p:column>
            <p:column headerText="Nombre">
                <h:outputText value="#{lp.nombre}"/>
            </p:column>           
            <p:column headerText="Precio">
                <h:outputText value="#{lp.precio}"/>
            </p:column>
            <p:column headerText="Stock">
                <h:outputText value="#{lp.tock}"/>
            </p:column>            
           <p:column headerText="Opcion">
              
           </p:column>
        </p:dataTable>
    </h:body>
</html>

